*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

  /* Style for the Portfolio section - by Deb Banerjee (@debu2code)*/
  
